**Question 1: Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.**

Examples
- is_symmetrical(7227) ➞ True
- is_symmetrical(12567) ➞ False
- is_symmetrical(44444444) ➞ True
- is_symmetrical(9939) ➞ False
- is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    return str(num)[::-1] == str(num)

In [5]:
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

**Question 2: Given a string of numbers separated by a comma and space, return the product of the numbers.**

Examples
- multiply_nums(&quot;2, 3&quot;) ➞ 6
- multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
- multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
- multiply_nums(&quot;10, -2&quot;) ➞ -20

In [12]:
from functools import reduce
def multiply_nums(str_num):
    str_list = str_num.split(",")
    return reduce(lambda x,y:int(x)*int(y),str_list)

In [15]:
print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

**Question 3: Create a function that squares every digit of a number.**

Examples
- square_digits(9119) ➞ 811181
- square_digits(2483) ➞ 416649
- square_digits(3212) ➞ 9414

- Notes : The function receives an integer and must return an integer.

In [17]:
def square_digits(num):
    # Convert the number to a string to easily iterate over each digit
    str_num = str(num)
    # Square each digit and join them together
    squared_str = ''.join(str(int(digit)**2) for digit in str_num)
    # Convert the result back to an integer
    return int(squared_str)

In [18]:
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

**Question 4: Create a function that sorts a list and removes all duplicate items from it.**

Examples
- setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
- setify([4, 4, 4, 4]) ➞ [4]
- setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
- setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [53]:
def setify(lst):
    # Convert the list to a set to remove duplicates, then convert back to a sorted list
    return sorted(set(lst))

In [54]:
print(setify([1, 3, 3, 5, 5]))

[1, 3, 5]

In [55]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [56]:
setify([4, 4, 4, 4])

[4]

In [57]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

**Question 5 : Create a function that returns the mean of all digits.**

Examples
- mean(42) ➞ 3
- mean(12345) ➞ 3
- mean(666) ➞ 6

In [64]:
import numpy as np
def mean(num):
    # Convert the number to a string to easily iterate over each digit
    str_num = str(num)
    # Calculate the sum of the digits
    int_list = list(map(int,str_num))
    return int(np.mean(int_list))

In [65]:
mean(42)

3

In [66]:
mean(12345)

3

In [67]:
mean(666)

6