**1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.**

In [9]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

In [10]:
with open('test.txt', 'r') as file:
    test2 = file.read()

difference = test1 == test2
print(difference)  # This should print True if there is no difference, and False otherwise.

True

**3. Create a CSV file called books.csv by using these lines:**

In [11]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv', 'w') as file:
    file.write(data)

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

In [13]:
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.execute('''CREATE TABLE books
                  (title TEXT, author TEXT, year INTEGER)''')
connection.commit()
connection.close()

**5. Read books.csv and insert its data into the book table.**

In [14]:
import csv

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

with open('books.csv', 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        cursor.execute("INSERT INTO books VALUES (?, ?, ?)", (row['title'], row['author'], row['year']))

connection.commit()
connection.close()

**6. Select and print the title column from the book table in alphabetical order.**

In [15]:
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.execute("SELECT title FROM books ORDER BY title")
titles = cursor.fetchall()
for title in titles:
    print(title[0])

connection.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

**7. From the book table, select and print all columns in the order of publication.**

In [16]:
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.execute("SELECT * FROM books ORDER BY year")
rows = cursor.fetchall()
for row in rows:
    print(row)

connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

In [17]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')
connection = engine.connect()
result = connection.execute("SELECT * FROM books")
for row in result:
    print(row)

connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.**

In [22]:
import redis

client = redis.StrictRedis(host='localhost', port=6379, db=0)
client.hset('test', 'count', 1)
client.hset('test', 'name', 'Fester Bestertester')

print(client.hgetall('test'))

{b'count': b'1', b'name': b'Fester Bestertester'}

**10. Increment the count field of test and print it.**

In [23]:
client.hincrby('test', 'count', 1)
print(client.hget('test', 'count'))

b'2'